<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class ="top-page">
    <div class = "top-page__header">
        <div class = "top-page__header__title">
            <%= image_tag "allert-mono"%>
            -アレルギー症状を多言語で伝える。安心を守る。
        </div>
        <div class = "top-page__header__nav">
            <ul>
                <li class="item1"></li>
                <li class="item2"></li>
                <li class="item3"></li>
                <li class="item4"></li>
                <li class="item5"></li>
            </ul>
        </div>
    </div>
    <div class = "top-page__main">
        <div class = "top-page__main__intro">
            <div class="top-page__main__intro__container">
                <section class="area">Make your world larger.</section>
                <section class="area">2</section>
                <section class="area">3</section>
                <section class="area">4</section>
                <section class="area">5</section>
            </div>
        </div>
    </div>
</div>
</body>
</html>